.App {
  text-align: center;
  background-color: #1e1b1b;
  font-family: Georgia;
}

.menuBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  color: #90d529;
}

h1,
h2,
p {
  color: #63931d;
  font-family: Georgia;
}

li {
  display: inline-block;
  padding: 8px;
  margin-left: 20px;
}

nav {
  background-color: #383434;
}

.song-header {
  background-color: #63931d;
}

nav li:hover {
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #90d529;
}

td {
  text-align: center;
  background-color: lightslategray;
  padding: 10px;
  color: #8fd52a;
}

form {
  display: flex;
  justify-content: center;
  background-color: #383434;
  padding: 20px;
  margin: 10px;
  color: #90d529;
}

.inputSelect {
  margin: 10px;
  border-width: 0;
  padding: 7px;
}

.button {
  border-width: 0;
  padding: 6px;
  background-color: #8fd52a;
}

.button:hover {
  background-color: #702ad5;
}
