.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #4675d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #1f1f52;
  display: flex;
  flex-direction: column;
  align-items: right;
  color: whitesmoke;
}
.App-link {
  color: #61dafb;
}
