.App {
  text-align: center;
}

.App-header {
  background-color: #1f1f52;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #1f1f52;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.App-link {
  color: #61dafb;
}

.Navbar {
  display: flex;
  align-items: center;
}

.Navbar ul {
  margin-bottom: 10px;
}

.Navbar li {
  display: inline;
  border: 2px solid #d34004;
  background-color: #87ceeb;
  padding: 4px 10px;
}
